body {
    font-family: Arial;
    text-align: center;
    background: #222;
    color: white;
}

.container {
    margin-top: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
}

canvas {
    margin-top: 20px;
    max-width: 100%;
}